body {
    color: #3a3a3a;
    background: #4b4b4b;
}

.diamond-header {
    text-align: center;
    background: #6b6b6b;
}

.diamond-header svg {
    height: 100px;
    sroke: blue;
}

table {
    width: 100%;
    background: #cacaca;
}

thead {
    background: #ededed;
}

th, td, .loader {
    font-family: monospace;
}

th {
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}

td {
    width: 33%;
    text-align: center;
    padding: 5px 0;
}

.mod-button {
    padding: 0 10px;
    font-size: 12px;
    margin: 5px;
    padding: 3px 15px;
    margin: 10px;
    font-weight: 800;
    cursor: pointer;
}

.loader {
    color: #eaeaea;
    text-align: center;
    padding: 10px;
}
